@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&family=Playfair+Display&display=swap');

.text-15-28 {
    font-size: remify(15px);
    line-height: remify(28px);
}
.text-16px {
    font-size: remify(16px);
    line-height: remify(24px);
}
.text-18px {
    @apply font-bold;
    font-size: remify(18px);
    line-height: remify(40px);
}
.text-18-45 {
    font-size: remify(15px);
    line-height: remify(25px);
    @screen md {
        font-size: remify(18px);
        line-height: remify(45px);
    }
}
.text-20px {
    @apply font-bold;
    font-size: remify(16px);
    line-height: remify(24px);
    @screen lg {
        font-size: remify(20px);
        line-height: remify(20px);
    }

}
.text-20-30 {
    @apply font-bold;
    font-size: remify(14px);
    line-height: remify(24px);
    @screen md {
        font-size: remify(20px);
        line-height: remify(30px);
    }
}
.text-16-33 {
    font-size: remify(16px);
    line-height: remify(33px);
}
.text-16-26 {
    font-size: remify(16px);
    line-height: remify(26px);
    @screen xl {
        font-size: remify(18px);
        line-height: remify(30px);
    }
}
.text-30-42 {
    @apply font-bold;
    font-size: remify(30px);
    line-height: remify(42px);
    @screen md {
        font-size: remify(36px);
        line-height: remify(50px);
    }
    @screen xl {
        font-size: remify(55px);
        line-height: remify(76px);
    }
}
.text-30-55 {
    @apply font-bold;
    font-size: remify(22px);
    line-height: remify(30px);
    @screen md {
        font-size: remify(30px);
        line-height: remify(55px);
    }
}
.text-48-60 {
    @apply font-bold;
    font-size: remify(27px);
    line-height: remify(38px);
    @screen lg {
        font-size: remify(48px);
        line-height: remify(60px);
    }
}

