@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&family=Playfair+Display&display=swap');

.text-16px {
    font-size: remify(16px);
    line-height: remify(24px);
}
.text-16-33 {
    font-size: remify(16px);
    line-height: remify(33px);
}